body {
  margin: 0;
  padding: 0;
}
main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
}
.container {
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px;
  background-color: white;
  border-radius: 5rem;
}
.buton-container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: nowrap;
}
.btn {
  padding: 1rem;
  margin: 1rem;
  background-color: darkgreen;
  color: white;
  border-radius: 10px;
  font-size: 1.2rem;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

#value {
  font-size: 6rem;
  font-weight: 500;
}
.azalt {
  background-color: red;
}
.reset {
  background-color: black;
}
